{% extends "FruitWorld/spanish.html" %}

{% load static %}

{% block content %}
<section id="contact" class="section parallax" style="background-color: rgba(0, 0, 0, 0.541);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title-box text-center white">
                <h2 class="title">Contacto</h2>
                <img src="{%static 'FruitWorld/images/LogoFW.png' %}" alt="Logo de FW" class="iconocontact">
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 contact-form">
            <div class="contact-info text-center">
                <!--<div class="redes">
                    <p>You can follow us!</p>
                    <a title="Instagram" href="https://www.instagram.com"><img src="{%static 'FruitWorld/images/parallax/Instagram.jpg' %}" alt="Instagram" class="instagram" /></a>
                    <a title="Facebook" href="https://www.facebook.com"><img src="{%static 'FruitWorld/images/parallax/Facebook.jpg' %}" alt="Faccebook" class="facebook" /></a>
                    <a title="Twitter" href="https://twitter.com"><img src="{%static 'FruitWorld/images/parallax/Twitter.jpg' %}" alt="Faccebook" class="twitter" /></a>
                </div>-->
                <p><img src="{%static 'FruitWorld/images/parallax/tel.jpg' %}" alt="Logo Tel" class="iconoscontactos"> 123 4567 890</p>
                <p><img src="{%static 'FruitWorld/images/parallax/ubicacion.jpg' %}" alt="Logo Tel" class="iconoscontactos"> Virrey del Pino 2458, 8B - Ciudad de Buenos Aires, Argentina</p>
                <p><img src="{%static 'FruitWorld/images/parallax/correo.jpg' %}" alt="Logo Tel" class="iconoscontactos"> info@fruitworld.com.ar</p>
            </div>

            <div>
                <div style="color: beige; text-align: center;">
                    {% if enviado == "enviado" %}
                        <li><h4 style="color: beige; text-align: center;">Su mensaje fue enviado con éxito, pronto tendrá noticias nuestras. <br> Muchas Gracias!</h4></li>
                    {% else %}
                        <li><h4 style="color: beige; text-align: center;">Hubo un error al intentar enviar su mensaje, inténtelo de nuevo más tarde. <br> Muchas Gracias!</h4></li>
                    {% endif %}
                </div>
                <div style="color: beige; text-align: center;">
                    <b style="color: beige; text-align: center;"><a href="{% url 'spanish' %}">IR AL INICIO</a></b>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="copyright">
                    <p>Copyright © 2023 All Rights reserved by: <a href="#">Proneutronxs</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/Proneutronxs"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/proneutronx/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}